<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFilterService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8080/srv" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFilterService" contract="FilterService.IFilterService"
                name="NetTcpBinding_IFilterService" />
        </client>
    </system.serviceModel>
</configuration>